$void: polygon(50% 50%, 50% 50%, 50% 50% );

$css: polygon(30.79% 35.88%, 27.34% 30.77%, 29.2% 36.18% ),
polygon(37.94% 33.22%, 34.64% 30.87%, 35.65% 38.08% ),
polygon(33.28% 36.37%, 30.65% 30.13%, 30.79% 35.88% ),
polygon(35.65% 38.08%, 34.64% 30.87%, 33.28% 36.37% ),
polygon(34.64% 30.87%, 30.65% 30.13%, 33.28% 36.37% ),
polygon(29.2% 36.18%, 27.34% 30.77%, 27.79% 37.17% ),
polygon(30.65% 30.13%, 27.34% 30.77%, 30.79% 35.88% ),
polygon(27.79% 37.17%, 24.45% 32.7%, 26.76% 38.97% ),
polygon(22.41% 35.9%, 21.64% 40.35%, 26.36% 41.63% ),
polygon(21.64% 52.22%, 26.36% 50.88%, 26.36% 41.63% ),
polygon(21.64% 40.35%, 21.64% 52.22%, 26.36% 41.63% ),
polygon(26.76% 38.97%, 22.41% 35.9%, 26.36% 41.63% ),
polygon(24.45% 32.7%, 22.41% 35.9%, 26.76% 38.97% ),
polygon(27.34% 30.77%, 24.45% 32.7%, 27.79% 37.17% ),
polygon(34.73% 61.62%, 30.79% 56.63%, 30.71% 62.43% ),
polygon(33.23% 56.18%, 30.79% 56.63%, 34.73% 61.62% ),
polygon(30.79% 56.63%, 29.21% 56.32%, 30.71% 62.43% ),
polygon(22.44% 56.72%, 26.36% 50.88%, 21.64% 52.22% ),
polygon(37.94% 59.32%, 33.23% 56.18%, 34.73% 61.62% ),
polygon(30.71% 62.43%, 29.21% 56.32%, 27.4% 61.8% ),
polygon(35.69% 54.43%, 33.23% 56.18%, 37.94% 59.32% ),
polygon(27.8% 55.3%, 26.76% 53.53%, 24.5% 59.88% ),
polygon(24.5% 59.88%, 26.76% 53.53%, 22.44% 56.72% ),
polygon(27.4% 61.8%, 27.8% 55.3%, 24.5% 59.88% ),
polygon(26.76% 53.53%, 26.36% 50.88%, 22.44% 56.72% ),
polygon(29.21% 56.32%, 27.8% 55.3%, 27.4% 61.8% ),
polygon(46.86% 36.42%, 43.15% 32.55%, 46% 37.57% ),
polygon(45.69% 30.57%, 43.15% 32.55%, 46.86% 36.42% ),
polygon(45.66% 39.23%, 40.94% 39.38%, 46.03% 40.87% ),
polygon(43.15% 32.55%, 41.53% 35.55%, 46% 37.57% ),
polygon(41.53% 35.55%, 40.94% 39.38%, 45.66% 39.23% ),
polygon(46.03% 40.87%, 43.04% 45.52%, 47.09% 42.02% ),
polygon(43.04% 45.52%, 45.28% 47.23%, 47.09% 42.02% ),
polygon(40.94% 39.38%, 41.51% 42.98%, 46.03% 40.87% ),
polygon(41.51% 42.98%, 43.04% 45.52%, 46.03% 40.87% ),
polygon(46% 37.57%, 41.53% 35.55%, 45.66% 39.23% ),
polygon(55.51% 37.87%, 53.36% 30.4%, 52.36% 36.02% ),
polygon(53.48% 53%, 58.51% 52.95%, 53.08% 51.25% ),
polygon(57.58% 32.8%, 53.36% 30.4%, 55.51% 37.87% ),
polygon(47.09% 42.02%, 45.28% 47.23%, 48.76% 42.88% ),
polygon(53.36% 30.4%, 49.01% 29.85%, 52.36% 36.02% ),
polygon(49.01% 29.85%, 45.69% 30.57%, 48.06% 35.73% ),
polygon(53.25% 54.37%, 58.51% 52.95%, 53.48% 53% ),
polygon(48.06% 35.73%, 45.69% 30.57%, 46.86% 36.42% ),
polygon(52.36% 36.02%, 49.01% 29.85%, 49.43% 35.52% ),
polygon(49.43% 35.52%, 49.01% 29.85%, 48.06% 35.73% ),
polygon(49.33% 56.68%, 49.43% 62.35%, 51.26% 56.38% ),
polygon(49.43% 62.35%, 53.03% 61.75%, 51.26% 56.38% ),
polygon(51.26% 56.38%, 53.03% 61.75%, 52.54% 55.57% ),
polygon(53.03% 61.75%, 55.9% 59.98%, 52.54% 55.57% ),
polygon(44.56% 61.38%, 49.43% 62.35%, 49.33% 56.68% ),
polygon(52.54% 55.57%, 55.9% 59.98%, 53.25% 54.37% ),
polygon(40.11% 57.98%, 44.56% 61.38%, 46% 55.83% ),
polygon(42.76% 53.37%, 40.11% 57.98%, 46% 55.83% ),
polygon(45.28% 47.23%, 47.91% 48.35%, 48.76% 42.88% ),
polygon(46% 55.83%, 44.56% 61.38%, 49.33% 56.68% ),
polygon(51% 43.62%, 51.94% 50.08%, 56.64% 46.97% ),
polygon(50.17% 49.2%, 51.94% 50.08%, 51% 43.62% ),
polygon(47.91% 48.35%, 50.17% 49.2%, 51% 43.62% ),
polygon(48.76% 42.88%, 47.91% 48.35%, 51% 43.62% ),
polygon(55.9% 59.98%, 57.83% 57.03%, 53.25% 54.37% ),
polygon(57.83% 57.03%, 58.51% 52.95%, 53.25% 54.37% ),
polygon(53.08% 51.25%, 58.51% 52.95%, 56.64% 46.97% ),
polygon(51.94% 50.08%, 53.08% 51.25%, 56.64% 46.97% ),
polygon(65.95% 47.23%, 68.59% 48.35%, 69.45% 42.88% ),
polygon(63.73% 45.52%, 65.95% 47.23%, 67.76% 42.02% ),
polygon(66.71% 40.87%, 63.73% 45.52%, 67.76% 42.02% ),
polygon(62.19% 42.98%, 63.73% 45.52%, 66.71% 40.87% ),
polygon(67.76% 42.02%, 65.95% 47.23%, 69.45% 42.88% ),
polygon(66.35% 39.23%, 62.19% 42.98%, 66.71% 40.87% ),
polygon(66.67% 37.57%, 61.61% 39.38%, 66.35% 39.23% ),
polygon(69.45% 42.88%, 68.59% 48.35%, 71.68% 43.62% ),
polygon(62.2% 35.55%, 61.61% 39.38%, 66.67% 37.57% ),
polygon(67.54% 36.42%, 62.2% 35.55%, 66.67% 37.57% ),
polygon(61.61% 39.38%, 62.19% 42.98%, 66.35% 39.23% ),
polygon(73.75% 51.25%, 74.15% 53%, 79.19% 52.95% ),
polygon(74.15% 53%, 73.93% 54.37%, 79.19% 52.95% ),
polygon(68.59% 48.35%, 70.85% 49.2%, 71.68% 43.62% ),
polygon(77.33% 46.97%, 73.75% 51.25%, 79.19% 52.95% ),
polygon(73.93% 54.37%, 78.5% 57.03%, 79.19% 52.95% ),
polygon(71.68% 43.62%, 70.85% 49.2%, 77.33% 46.97% ),
polygon(70.85% 49.2%, 72.61% 50.08%, 77.33% 46.97% ),
polygon(72.61% 50.08%, 73.75% 51.25%, 77.33% 46.97% ),
polygon(73.05% 36.02%, 69.7% 29.85%, 70.11% 35.52% ),
polygon(73.7% 61.75%, 76.59% 59.98%, 73.21% 55.57% ),
polygon(70.11% 62.35%, 73.7% 61.75%, 71.94% 56.38% ),
polygon(71.94% 56.38%, 73.7% 61.75%, 73.21% 55.57% ),
polygon(73.21% 55.57%, 76.59% 59.98%, 73.93% 54.37% ),
polygon(65.24% 61.38%, 70.11% 62.35%, 70.01% 56.68% ),
polygon(66.67% 55.83%, 65.24% 61.38%, 70.01% 56.68% ),
polygon(60.79% 57.98%, 65.24% 61.38%, 66.67% 55.83% ),
polygon(76.59% 59.98%, 78.5% 57.03%, 73.93% 54.37% ),
polygon(63.83% 32.55%, 62.2% 35.55%, 67.54% 36.42% ),
polygon(70.01% 56.68%, 70.11% 62.35%, 71.94% 56.38% ),
polygon(70.11% 35.52%, 66.37% 30.57%, 68.75% 35.73% ),
polygon(78.26% 32.8%, 74.05% 30.4%, 76.19% 37.87% ),
polygon(66.37% 30.57%, 63.83% 32.55%, 68.75% 35.73% ),
polygon(68.75% 35.73%, 63.83% 32.55%, 67.54% 36.42% ),
polygon(69.7% 29.85%, 66.37% 30.57%, 70.11% 35.52% ),
polygon(63.45% 53.37%, 60.79% 57.98%, 66.67% 55.83% ),
polygon(76.19% 37.87%, 74.05% 30.4%, 73.05% 36.02% ),
polygon(74.05% 30.4%, 69.7% 29.85%, 73.05% 36.02% );

$js: polygon(41.65% 50.68%, 46.38% 46.3%, 41.65% 39.78% ),
polygon(46.38% 52.18%, 46.38% 46.3%, 41.65% 50.68% ),
polygon(41.31% 53.55%, 46.38% 52.18%, 41.65% 50.68% ),
polygon(43.8% 59.83%, 45.68% 56.67%, 41.31% 53.55% ),
polygon(45.68% 56.67%, 46.38% 52.18%, 41.31% 53.55% ),
polygon(46.38% 46.3%, 46.38% 39.08%, 41.65% 39.78% ),
polygon(41.65% 39.78%, 46.38% 34.78%, 41.65% 30.4% ),
polygon(46.38% 34.78%, 46.38% 30.4%, 41.65% 30.4% ),
polygon(46.38% 39.08%, 46.38% 34.78%, 41.65% 39.78% ),
polygon(40.43% 55.42%, 43.8% 59.83%, 41.31% 53.55% ),
polygon(37.95% 62.4%, 41.11% 61.75%, 37.33% 56.73% ),
polygon(33.96% 61.68%, 37.95% 62.4%, 35.15% 56.3% ),
polygon(35.15% 56.3%, 37.95% 62.4%, 37.33% 56.73% ),
polygon(30.64% 59.52%, 33.96% 61.68%, 32.84% 54.67% ),
polygon(32.84% 54.67%, 33.96% 61.68%, 35.15% 56.3% ),
polygon(41.11% 61.75%, 43.8% 59.83%, 40.43% 55.42% ),
polygon(39.05% 56.43%, 41.11% 61.75%, 40.43% 55.42% ),
polygon(37.33% 56.73%, 41.11% 61.75%, 39.05% 56.43% ),
polygon(61.11% 56.38%, 62.88% 61.75%, 62.4% 55.57% ),
polygon(65.76% 59.98%, 67.68% 57.03%, 63.1% 54.37% ),
polygon(59.29% 62.35%, 62.88% 61.75%, 61.11% 56.38% ),
polygon(62.88% 61.75%, 65.76% 59.98%, 62.4% 55.57% ),
polygon(62.4% 55.57%, 65.76% 59.98%, 63.1% 54.37% ),
polygon(55.85% 55.83%, 54.43% 61.38%, 59.19% 56.68% ),
polygon(54.43% 61.38%, 59.29% 62.35%, 59.19% 56.68% ),
polygon(52.63% 53.37%, 49.96% 57.98%, 55.85% 55.83% ),
polygon(63.1% 54.37%, 67.68% 57.03%, 63.33% 53% ),
polygon(49.96% 57.98%, 54.43% 61.38%, 55.85% 55.83% ),
polygon(59.19% 56.68%, 59.29% 62.35%, 61.11% 56.38% ),
polygon(57.76% 48.35%, 60.02% 49.2%, 60.85% 43.62% ),
polygon(60.85% 43.62%, 60.02% 49.2%, 63.64% 44.72% ),
polygon(58.63% 42.88%, 57.76% 48.35%, 60.85% 43.62% ),
polygon(52.9% 45.52%, 55.13% 47.23%, 56.94% 42.02% ),
polygon(55.13% 47.23%, 57.76% 48.35%, 58.63% 42.88% ),
polygon(55.89% 40.87%, 52.9% 45.52%, 56.94% 42.02% ),
polygon(56.94% 42.02%, 55.13% 47.23%, 58.63% 42.88% ),
polygon(60.02% 49.2%, 61.79% 50.08%, 63.64% 44.72% ),
polygon(62.93% 51.25%, 63.33% 53%, 68.36% 52.95% ),
polygon(63.33% 53%, 67.68% 57.03%, 68.36% 52.95% ),
polygon(67.81% 49.33%, 62.93% 51.25%, 68.36% 52.95% ),
polygon(66.5% 46.97%, 62.93% 51.25%, 67.81% 49.33% ),
polygon(61.79% 50.08%, 62.93% 51.25%, 66.5% 46.97% ),
polygon(63.64% 44.72%, 61.79% 50.08%, 66.5% 46.97% ),
polygon(51.38% 35.55%, 50.8% 39.38%, 55.53% 39.23% ),
polygon(59.29% 35.52%, 55.55% 30.57%, 57.92% 35.73% ),
polygon(57.92% 35.73%, 55.55% 30.57%, 56.71% 36.42% ),
polygon(55.55% 30.57%, 53% 32.55%, 56.71% 36.42% ),
polygon(58.88% 29.85%, 55.55% 30.57%, 59.29% 35.52% ),
polygon(65.36% 37.87%, 63.23% 30.4%, 62.23% 36.02% ),
polygon(51.36% 42.98%, 52.9% 45.52%, 55.89% 40.87% ),
polygon(63.23% 30.4%, 58.88% 29.85%, 62.23% 36.02% ),
polygon(62.23% 36.02%, 58.88% 29.85%, 59.29% 35.52% ),
polygon(56.71% 36.42%, 53% 32.55%, 55.85% 37.57% ),
polygon(55.53% 39.23%, 51.36% 42.98%, 55.89% 40.87% ),
polygon(67.44% 32.8%, 63.23% 30.4%, 65.36% 37.87% ),
polygon(50.8% 39.38%, 51.36% 42.98%, 55.53% 39.23% ),
polygon(53% 32.55%, 51.38% 35.55%, 55.85% 37.57% ),
polygon(55.85% 37.57%, 51.38% 35.55%, 55.53% 39.23% );

@mixin render($obj){
	@for $i from 1 through 100{
		.p#{$i}{
			transition-delay: random(500) + ms !important;
			background: rgba(123, 221, 211, random(10)/10);
			@if(length($obj) >= $i){
				clip-path: nth($obj, $i);
			} @else {
				clip-path: $void;
			}
		}
	}
}
@include render($js)

.is-css{
	@include render($css);
}
.canvas{
	position: relative;
	width: 800px;
	height: 600px;
	border: 1px solid black;
	.p{
		position: absolute;
		width: 800px;
		height: 600px;
		//background-color: red;
		left: 0;
		top: 0;
		transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}
}

//.t {
//	position: absolute;
//	width: 800px;
//	height: 600px;
//	background-color: red;
//	left: 0;
//	top: 0;
//	clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
//	transition: clip-path .3s ease;
//	&:hover {
//		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
//	}
//}
