---
title: Paint page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<div class="paint">
  <div class="paint__controls js-paint-bar">
    <div class="paint__title">Controls</div>
    <div class="paint__actions">
      <button class="btn btn_space" id="clear">Clear</button>
      <button class="btn btn_space" id="save">Save</button>
      <button class="btn btn_space" id="replay">Replay</button>
      <button class="btn btn_space" id="back">Back</button>
      <div class="input-block">
        <div class="input-block__label">
          Line width
        </div>
        <input type="range" min="1" max="20" value="10" class="js-paint-line-width"/>
      </div>
      <div class="input-block">
        <div class="input-block__label">Color</div>
        <input type="color" value="#000000" class="js-paint-color"/>
      </div>
    </div>
  </div>

  <canvas id="paint"></canvas>
</div>





{% endblock %}
