---
title: whiteweb
bodyMod: is-cursor
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!--<div class="preloader">-->
<!--<div class="preloader__inner js-preloader">-->
<!--<div class="preloader__content js-preloader-content">-->
<!--<div class="preloader__content-bg js-preloader-content-bg"></div>-->
<!--<div class="preloader__text">whiteweb</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="whiteweb">
  <div class="wrapper">
    <div class="some-block" data-hint="Створення бренду">Hover me!</div>
  </div>
  <div class="wrapper">
    <div class="some-block" data-hint="Lorem ipsum dolor sit amet.">Hover me!</div>
  </div>
  <div class="waves" id="waves">
    <div class="waves__img">
      <!--<img src="img/1.jpg" alt=""/>-->
      <div class="js-image" data-src="img/1.jpg" style="width: 500px; height: 860px;"></div>
    </div>
  </div>
  <div class="portfolio" data-img-height="800" data-change-fill="true" data-fill1="89, 39, 215" data-fill2="226, 7, 105"></div>
  <div class="logos" data-change-fill="true" data-fill1="255, 102, 165" data-fill2="226, 124, 34">
    <div class="logos__logo logo js-logo">
      <div class="logo__content">
        <img src="img/logo10.jpg" alt=""/>
      </div>
    </div>
    <div class="logos__logo logo js-logo">
      <div class="logo__content">
        <img src="img/logo11.jpg" alt=""/>
      </div>
    </div>
    <div class="logos__logo logo js-logo">
      <div class="logo__content">
        <img src="img/logo12.jpg" alt=""/>
      </div>
    </div>
    <div class="logos__logo logo js-logo">
      <div class="logo__content">
        <img src="img/logo13.jpg" alt=""/>
      </div>
    </div>
    <div class="logos__logo logo js-logo">
      <div class="logo__content">
        <img src="img/logo14.jpg" alt=""/>
      </div>
    </div>
  </div>
</div>




{% endblock %}
